<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <style>
        a, img, h3 {
            display: inline-block; 
            text-decoration: none;
            margin: 15px;
        }
        h1 {
            padding: 20px;
            text-align: center;
            background-color: rgb(49, 12, 151);
        }
        tr {
            margin: 500px auto;
            padding: 50px auto;
        }
    </style>
</head>
<body>

    {% block content %} {% endblock %}
    
</body>
</html>