{% extends "base.html" %}

{% block title %}
    {{ title }} 
{% endblock %}

{% block content %}
    <h1>{{ data.name }}</h1>
    
    <img src="static/imges/{{ data.name }}.png">
    <h3>Specification</h3>
    <ul>
        <li>{{ data.Specification.DISPLAY }}</li>
        <li>{{ data.Specification.MEMORY }}</li>
        <li>{{ data.Specification.camera }}</li>
        <li>{{ data.Specification.ram }}</li>
        <li>{{ data.Specification.batareya }}</li>
    </ul>

    <a href="/">back HOME</a>

{% endblock %}